[submodule "yeyue-common"]
	path = yeyue-common
	url = git@gitee.com:fredyangyeyue/yeyue-common.git
[submodule "yeyue-mq"]
	path = yeyue-mq
	url = git@gitee.com:fredyangyeyue/yeyue-mq.git
[submodule "yeyue-dependency"]
	path = yeyue-dependency
	url = git@gitee.com:fredyangyeyue/yeyue-dependency.git
[submodule "yeyue-test"]
	path = yeyue-test
	url = git@gitee.com:fredyangyeyue/yeyue-test.git
[submodule "yeyue-facade"]
	path = yeyue-facade
	url = git@gitee.com:fredyangyeyue/yeyue-facade.git
[submodule "yeyue-service"]
	path = yeyue-service
	url = git@gitee.com:fredyangyeyue/yeyue-service.git
[submodule "yeyue-web"]
	path = yeyue-web
	url = git@gitee.com:fredyangyeyue/yeyue-web.git
